/* Blog specific layout */
.table-content {
  max-width: 320px;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  position: relative;
}

.table-content * {
  pointer-events: none;
  user-select: none;
}

/* Blog image preview */
#currentImages img {
  border-radius: 6px;
  border: 1px solid #ddd;
}
